@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 0px;
    text-align: center;
    background-image: linear-gradient(#161617, #D59542);
}

#header{
    width: 50%;
    margin: auto;
    color: white;
    font-size: 36;
    ;
}

svg{
    background-color: #161617;
}

.cycle-marker, .av-marker, .sub-cycle-marker{
    stroke: #D59542;
}

.character-config{
    vertical-align: top;
}

#body{
    color: #D59542;
    font-size: 15px;
    width: 1000px;
    min-width: 360px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
;}

#spd-label{
    padding-left: 80px;
}

#timeline-container{
    overflow-y: hidden;
    overflow-x: auto;
}

.full-height{
    display: block;
    width: 180px;
    height: 25px;
}

.half-height{
    height: 12.5px;
}

.border{
    /*outline: 5px solid white;*/
    border-radius: 10px;
    background: #161617;
    opacity: 0.9;
}

.flow {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 500px;
    height: 175px;
    margin-top: 20px;
}

.left{
    margin-right: 10px;
}

.right{
    margin-left: 10px;
}

@media screen and (max-width: 900px) {
    #body{
        width: 95%;
        margin: 0px 5px;
    }

    .flow {
        width: 97%;
    }

    .left{
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .right{
        margin-right: 5px;
        margin-left: 5px;
    }
  }